{% extends 'base.html' %}
{% load static %}


{% block content %}
    <header class="container">
        <section class="content">
            <div class="centered">
                <div>
                    <p class="heading">Регистрация Успешна</p>
                    <p class="rale">Перейти на Discord сервер</p>
                    <a href="https://discord.gg/kjTYKfw"><img src="{% static 'img/discord.png' %}" class="steam"></a>
                    </div>
                  </div>
        </section>
    </header>
{% endblock %}